
body {
    background-color: #383668;
    font-size: 0.8em;
}

a {
    color: #83b5ff;
}

* {
    color: #FFF;
}

.dark-text, .dark-text > * {
    color: #222;
}

button {
    color: #333;
}

/* tr {
    width: 100%;
}

td {
    height: 4%;
    width: 4%;
} */

.inputs {
    padding:0px, 5px, 0px, 5px
}

input[type=number] {
    width: 3.5em;
}

input[type=checkbox] {
    width: 1.18em;
    height: 1.18em;
}

.preview-cell {
    padding: 0.4em;
    width: 100%;
    height: 100%;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.inputs > * {
    margin-left: 8px;
    margin-right: 8px;
}



.d-flex {
    margin-bottom: 8px;
}

.site-footer-links {
    font-size: 2.5em;
}

.image-inputs-container > * {
    margin-left: 12px;
    margin-right: 12px;
}

.viewer-image {
    width: 25%;
    height: 25%;
    max-width: 25%;
    max-height: 25%;
}

#preview-table {
    outline: thin dashed rgb(236, 144, 38);
    margin-left: 3%;
    margin-right: 3%;
}

#item-selections-container {
    margin-left: 5%; 
    margin-right: 5%;
}
/* div.viewport {
    width: 80em;
    height: 56.25em;
    outline: thin dashed green;  
} */

.item-selection {
    font-weight: bold;
    margin-left: .4em;
    margin-right: .4em;
    margin-bottom: 0.3em;
}

.item-selection > * {
    margin-left: .2em;
    margin-right: .2em;
}

.item-selection > img {
    max-height: 3.15em;
    padding: 0.3em;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

/* TODO figure out sass srsly */
.item-counter {
    font-weight: bold;
    margin-left: .4em;
    margin-right: .4em;
    margin-bottom: 0.3em;
}

.item-counter > * {
    margin-left: .2em;
    margin-right: .2em;
}

.item-counter > img {
    max-height: 3.15em;
    padding: 0.3em;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
