
body {
    background-color: #383668;
}

* {
    color: #FFF;
}

.image-canvas {
    background-color: #888;
    /* position:absolute;
    width:100%;
    height:100%;
    top:0px; */
}

.canvas-container {
    position: relative;
}

button {
    color: #333;
}